<div class="container">
    <div class="centered">
        <h1 style="font-size:50px; color:black;">Welcome!</h1>
        <h2 style="font-size:20px;">
        Have a cool business idea? Have skills for the nitty gritty?
        <br>
        <br>
        <img src="/assets/missing_piece.png" alt="missing_piece" width="100" height="100"></img>
        Connect the missing piece below!
        </h2>
    </div>
</div>

<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.text_field :name %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  <%= f.select :major, ['Biology', 'Chemistry', 'Environmental Science', 'Marine Science', 'Dance', 'Theatre', 'English', 'History', 'Philosophy', 'Political Science', 'Psychology', 'Sociology'], include_blank: true, :class => "form-control" %>

  <% if @minimum_password_length %>
  <% end %><br />
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <%= f.password_field :password, autocomplete: "new-password" %>
  
  <%= f.submit "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>


