<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= link_to 'New User', new_user_path %>
<table border="1" class = "usersTable">
  <thead>
    <tr>
      <th> UserID </th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "major" %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.major %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


