<div class="alert alert-info alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Info!</strong> The logo will take you to the home page. 
  The Users tab leads to a table of users.
  The Posts tab leads to a table of posts. You can also create a new user or post, or login if you already signed up.
  If you are signed in you can logout in the top right corner or you can view your account by clicking on your email.
</div>

<h2>Log in</h2>
    
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  <%= f.password_field :password, autocomplete: "current-password" %>
  <%= f.check_box :remember_me %>
  <%= f.submit "Log in" %>
<% end %>

<%= render "devise/shared/links" %>
