<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to 'New Post', new_post_path %>

<table border="1" class="postsTable">
  <thead>
    <tr>
      <th>PosterID</th>
      <th><%= sortPosts "Poster" %></th>
      <th><%= sortPosts "Description" %></th>
      <th><%= sortPosts "Updated_at" %></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= link_to post.poster_email, post.user %></td>
        <td><%= link_to post.description, post %></td>
        <td><%= post.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


